@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Navbar Container */
.Navbar {
  width: 100%;
  height: 10vh;
  background: #0f0e13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  width: 40px;
   color: #df8908;
    font-size: 2rem;
    font-weight: bolder;
}

.logo span{
    color: #df8908;
    text-shadow: 0 0 10px rgb(109,67, 0);
}

/* Menu List */
.nav-menu {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-weight: 500;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
}

/* Menu Links */
.nav-menu li a {
  text-decoration: none;
  color: #df8908;
  position: relative;
  transition: 0.3s;
}

/* Underline Effect */
.nav-menu li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #df8908;
  transition: width 0.3s;
}

.nav-menu li a:hover::after {
  width: 100%;
}

/* Connect Button */
.nav-connect {
  padding: 5px 15px;
  border: 2px solid rgb(109, 67, 0);
  border-radius: 20px;
  color: linear-gradient(to right, #df8908, #b415ff);
  cursor: pointer;
  transition: 0.3s;
}

.nav-connect:hover {
  background-color: linear-gradient(to right, #df8908, #b415ff);
  color: white;
  box-shadow: 0 0 10px #df8908;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 2rem;
  color: #df8908;
  cursor: pointer;
  z-index: 1001;
  background: transparent;
  border: none;
}

/* Responsive */
@media screen and (max-width: 884px) {
  .nav-menu {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 40%;
    flex-direction: column;
    background-color:rgba(223, 137, 8, 0.90) ;
    border: 1px solid rgba(223, 137, 8, 0.3);
    border-radius: 2rem;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  .nav-menu li,
  .nav-connect {
    width: 100%;
    text-align: center;
  }

  .nav-menu li a,
  .nav-menu .nav-connect {
    color: white;
    padding: 1rem;
    display: block;
  }

  .nav-menu li a:hover::after {
    background-color: white;
  }

  .nav-connect:hover {
    background-color: white;
    color: #df8908;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
